<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pethotel.admin.mapper.AdminMapper">

<select id = "getReservationTodayCheckIns" 
resultType = "com.pethotel.admin.dto.AdminReservationDto">
   
   select m.nickname 
   from reservation r 
   inner join member m
   on r.member_id = m.member_id
   where r.check_in = #{today}
   
</select>

<select id = "getReservationTodayCheckOuts" 
resultType = "com.pethotel.admin.dto.AdminReservationDto">

   select m.nickname
   from reservation r
   inner join member m
   on r.member_id = m.member_id
   where r.check_out = #{today}
   and stay_status = "CHECKED_IN" 
   
</select>

<select id = "getStayReservation" 
resultType = "com.pethotel.admin.dto.AdminReservationDto">
   select m.nickname
   from reservation r
   inner join member m
   on r.member_id = m.member_id
   where r.stay_status = "CHECKED_IN"
</select>

<select id = "getCheckDashboard" 
resultType = "com.pethotel.admin.dto.AdminDashboardResponseDto">
   select 
      (select count(*) from reservation
      where check_in = #{today}) as checkInCnt,
      
      (select count(*) from reservation
      where check_out = #{today}) as checkOutCnt
</select>
  

</mapper>