<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pethotel.mapper.BoardMapper">
   
   
   <insert id = "postWrite">
      insert into board(title,content,member_id)
      values(#{title},#{content},#{member_id})      
   </insert>
   
   <select id="ListBoard" 
        parameterType="com.pethotel.dto.BoardRequestDto" 
        resultType="com.pethotel.dto.BoardResponseDto">
    SELECT
        b.board_id,
        b.title,
        b.created_at,
        b.view_count,
        m.nickname
    from board b
    inner join member m ON b.member_id = m.member_id
    <where>
        <!-- 삭제되지 않은 글만 조회 (공통 조건) -->
        AND b.is_deleted = 0
        <!-- 1. 상세 보기일 경우 (board_id 파라미터가 있을 때) -->
        <if test="board_id != null">
            and b.board_id = #{board_id}
        </if>
        <!-- 2. 내 글 보기일 경우 (member_id 파라미터가 있을 때) -->
        <if test="member_id != null">
            and b.member_id = #{member_id}
        </if>       
        <!-- 3. 검색 기능 추가 시 여기에 <if> 추가 가능 (확장성 굿!) -->
    </where>
   order by b.board_id DESC
</select>

   <select id = "detailBoard" resultType = "com.pethotel.dto.BoardResponseDto">
      select 
         b.board_id,b.title,b.created_at,b.view_count,b.content,
         m.nickname
      from board b
      inner join member m on b.member_id = m.member_id  
      where b.board_id = #{board_id} 
   </select>
   
   <select id = "myRes" resultType = "com.pethotel.dto.ResListDto">
      select 
         r.res_id,r.check_in,r.check_out,r.status,r.created_at,
         m.nickname
      from reservation r inner join member m on r.member_id = m.member_id
      where r.member_id = #{member_id}
      order by r.res_id  desc       
   </select> 
   
   <update id = "postUpdate">
      update board 
         set title = #{title}, content = #{content}
      where board_id = #{board_id}    
   </update>
   
   <delete id = "postDelete">
      update board
         set is_deleted = '1'
      where board_id = #{board_id}
   </delete>
    
   
   

</mapper>