<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pethotel.payment.mapper.PaymentMapper">
  <insert id = "insertPayment" parameterType = "com.pethotel.payment.dto.PaymentRequestDto">
    insert into payment
     (res_id,member_id,
     imp_uid,merchant_uid,
     amount,
     pay_method,pay_status,
     paid_at)
    values
     (#{resId},#{memberId},
     #{impUid},#{merchantUid},
     #{amount},
     #{payMethod},#{payStatus},
     #{paidAt})
   
  </insert>
   
   
   <select id = "getImpUid" resultType = "String">
      select 
         imp_uid as impUid
      from payment 
      where res_id =#{resId}
   </select>
   
   <update id = "cancelStatus">
      update payment set
         pay_status = 'cancel'
      where res_id = #{resId}
   </update>
   
</mapper>