<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pethotel.mapper.PetMapper">
   <insert id = "add" parameterType = "com.pethotel.dto.PetListRequestDto">
      insert into 
      pet(member_id,name,type,age,weight,gender,note)
      values
         (#{memberId},
         #{name},
         #{type},
         #{age},
         #{weight},
         #{gender},
         #{note})    
   </insert>
   
   <select id = "petList" resultType = "com.pethotel.dto.PetListResponseDto">
      select 
         pet_id as petId,
         age,
         name,
         type,
         gender,
         note,
         weight,
         created_at as createdAt
      from pet 
      where member_id = #{memberId}
      and is_deleted = 0
      order by petId desc;
   </select>
   
   <select id = "petDetail" resultType = "com.pethotel.dto.PetUpdateResponseDto">
      select 
         pet_id as petId,
         age,
         name,
         type,
         gender,
         note,
         weight
      from pet 
      where pet_id = #{petId}     
   </select>
   
   <update id = "petUpdate" parameterType = "com.pethotel.dto.PetUpdateRequestDto">
      update pet set 
         name = #{pdto.name},
         type = #{pdto.type},
         age = #{pdto.age},
         gender = #{pdto.gender},
         weight = #{pdto.weight},
         note = #{pdto.note}
       where pet_id = #{petId}         
   </update>
   
   <update id = "petDelete">
      update pet set
         is_deleted = '1'
      where pet_id = #{petId}
   </update>
   
   <select id = "petResList" resultType = "com.pethotel.dto.PetListResponseDto">
      select
         pet_id as petId,
         name,
         type,
         age,
         gender,
         weight,
         note
      from pet where pet_id in
      <foreach collection = "list" item = "id" open="(" separator="," close=")">
         #{id}
      </foreach>
   </select>
</mapper>