<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pethotel.mapper.ResMapper">
   
   <insert id="save" parameterType="com.pethotel.dto.ResDto"
        useGeneratedKeys="true" keyProperty="id">
    insert into reservation(member_id, check_in, check_out)
    values(#{member_id}, #{check_in}, #{check_out})
  </insert>
   
   <insert id = "savePet">
      insert into
      reservation_pet(res_id,dog_type,count)
      values(#{res_id},#{dog_type},#{count})
   </insert>
   
   <select id = "resPet" resultType = "com.pethotel.dto.PetInfoDto">
       select 
       dog_type,
       count
       from reservation_pet
       where res_id = #{id}      
   </select>
   
   <select id = "getView">
      select 
      * 
      from 
      reservation
      where id = #{id} 
   </select>
</mapper>