<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pethotel.mapper.ResMapper">
   
   <insert id = "resSave" useGeneratedKeys="true" keyProperty="resId">
      insert into reservation
         (member_id,check_in,check_out)
      values(#{memberId},#{checkIn},#{checkOut})   
   </insert>
   
  <insert id = "petSave">
     insert into reservation_pet
        (res_id,pet_id)
     values
      <foreach collection = "petIds" item = "petId" separator = ",">
         (#{resId},#{petId})
      </foreach>
  </insert>
   
   
 <!--   
   
    
   <select id = "resDelete">
      update 
         reservation set
         status ="예약 취소"
      where res_id = #{resId} 
   </select>
   
   <delete id = "petDelete">
     delete from 
        reservation_pet 
     where res_id = #{resId}
   </delete>
   
   <update id = "postUpdate">
      update 
         reservation set 
         check_in = #{checkIn},
         check_out = #{checkOut}
      where res_id = #{resId}      
   </update>
   
    -->
</mapper>